body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    fill: none;
  }

  .descent {
    fill: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .person {
    fill: #fd0000;
    stroke-width: 0px;
    z-index: 10;
  }

  /* limbo layer */
  limboLayer {
    z-index: 0;
    fill: none;
  }
  .lmb-1 {
    stroke-width: 4px;
    fill: none;
}

.lmb-1, .lmb-2 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
}

.lmb-2 {
    stroke-width: 3px;
    fill: none;
}

.lmb-3 {
    fill: #fff;
    stroke-width: 0px;
}

/* lust layer */
.lustLayer {
  z-index: -1;
}
.lust-1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.lust-2 {
  fill: #fff;
  stroke-width: 0px;
}

/* glutton layer */
.gluttonLayer {
  z-index: -2;
}

.gltn-1 {
  stroke-width: 4px;
}

.gltn-1, .gltn-2 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

.gltn-3 {
  fill: #fff;
  stroke-width: 0px;
}

/* greed layer */
.greedLayer {
  z-index: -3;
}

.greed-1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.greed-2 {
  fill: #fff;
  stroke-width: 0px;
}

/* wrath layer */
.wrathLayer {
  z-index: -4;
}

.wrth-1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.wrth-2 {
  fill: #fff;
  stroke-width: 0px;
}

/* heretic layer */
.hereticLayer {
  z-index: -5;
}

.hrtc-1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.hrtc-2 {
  fill: #fff;
  stroke-width: 0px;
}

/* violence layer */
.violentLayer {
  z-index: -6;
  transform: translateX(50%) translateY(50%);
}

.vlnt-1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.vlnt-2 {
  fill: #fff;
  stroke-width: 0px;
}

/* fraud layer */
.fraudulentLayer {
  z-index: -7;
}

.frdlnt-1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.frdlnt-2 {
  fill: #fff;
  stroke-width: 0px;
}

/* treachery layer */
.treacheryLayer {
  z-index: -8;
  transform: translateX(50%) translateY(50%);
}

.trchry-1 {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.trchry-2 {
  fill: #fff;
  stroke-width: 0px;
}